.userCard {
  min-height: 400px;
  @apply rounded-xl relative;
  & > a {
    @apply block;
    height: 400px;
    & > img {
      @apply h-full w-full block;
    }
  }
}

.userInfo {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 26px, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0));
  @apply rounded-xl absolute w-full h-full top-0 left-0 flex flex-col justify-end p-3;
}