.container {
  @apply flex bg-white;
}

.topSection {
  @apply flex sm:hidden w-full fixed top-0 left-0 z-10;
}

.leftSectionWrapper {
  @apply hidden sm:flex flex-grow justify-end bg-white;
}
.leftSection {
  width: 80px;
  @apply h-dvh;
  @media screen and (min-width: 1024px) {
    width: 180px;
  }
}

.rightSectionWrapper {
  @apply flex flex-grow justify-start bg-white;
}
.rightSectionInner {
  padding-top: 116px;
  @apply h-dvh w-full flex justify-between;
  @media screen and (min-width: 640px) {
    padding-top: 0;
    width: 500px;
  }
  @media screen and (min-width: 1024px) {
    width: 800px;
  }
  @media screen and (min-width: 1300px) {
    width: 1000px;
  }
}
.main {
  @apply h-dvh w-full;
  @media screen and (min-width: 1024px) {
    width: 550px;
  }
  @media screen and (min-width: 1300px) {
    width: 700px;
  }
}
.rightSection {
  @apply hidden flex-col;
  @media screen and (min-width: 1024px) {
    display: flex;
    width: 250px;
  }
  @media screen and (min-width: 1300px) {
    display: flex;
    width: 300px;
  }
  & > div {
    position: fixed;
    width: inherit;
  }
}

.bottomSection {
  @apply flex sm:hidden w-full fixed bottom-0 left-0;
}